---
layout: default
title: 
seo:
  title: 
  keywords:
    - 
  social_image: /images/
  hide-from-google: true
header:
  image: /images/temp.png
  image_alt: 
  image_position: 50% 50%
  pretitle: Unlock Emotional Freedom.
  title: Healing with Havening
  subtitle: Havening Techniques are a set of novel and flexible methods based on touch.
  cta: Book a Call
havening:
  image: /images/temp.png
  position:
  alt:
image-quote: /images/temp.png
image-quote-position:
---

<!-------Intro Section--------->
<section class="relative max-w-screen-2xl mx-auto">
    <div class="bg-greenleaf text-light py-10p sm:py-5p px-5p sm:px-10p text-center section-border">
      <p class="main-title text-2xl sm:text-4xl pb-5p sm:pb-2p" data-aos="fade-down">Life's experiences can leave deep imprints on our minds, often causing stress, anxiety, and other emotional barriers that hold us back.</p>
      <p data-aos="fade-down">Havening Techniques® offer a transformative approach to healing, using gentle touch and neuroscience to address these underlying emotional triggers. Through the power of Havening, you can release past traumas, reduce stress, and restore a sense of calm and control in your life.</p>
    </div>
  </section>


<!-----------Issues--------->
<section class="relative max-w-screen-2xl mx-auto">
    <div class="sm:grid sm:grid-cols-2 px-5p py-10p sm:py-5p">
      <!-- Text Content -->
      <div class="col-span-1 flex flex-col justify-center sm:pr-10p text-center sm:text-left">
        <p class="pb-5p">These psycho-sensory techniques are based on neuroscience and intuitive touch. They can help permanently treat a range of different issues, such as:</p>
        <ul class="main-title text-2xl sm:text-3xl md:text-4xl" data-aos="fade-down">
            <li class="pb-2p"><i class="fa-solid fa-arrow-right"></i>Anxiety</li>
            <li class="pb-2p"><i class="fa-solid fa-arrow-right"></i>Phobias</li>
            <li class="pb-2p"><i class="fa-solid fa-arrow-right"></i>Stress & Burnout</li>
            <li class="pb-2p"><i class="fa-solid fa-arrow-right"></i>Thought blocks</li>
        </ul>
      </div>
      <!-- Image -->
      <div class="hidden sm:block relative h-full sm:min-h-60 col-span-1">
        <img loading="lazy" class="absolute inset-0 w-full h-full object-cover" src="{{ page.havening.image }}" style="object-position: {{ page.havening.position }};" alt="{{ page.havening.alt }}" />
      </div>
    </div>
  </section>




<!-------How it works Section--------->
<section class="relative max-w-screen-2xl mx-auto">
    <div class="bg-greenleaf text-light px-5p py-10p sm:py-5p section-border sm:grid sm:grid-cols-2">
        <div class="sm:hidden">
            <p class="main-title text-2xl pb-5p">How does Havening work?</p>
        </div>
        <div class="hidden sm:block">
            <p class="main-title text-6xl">How does <br> Havening <br> work?</p>
        </div>
        <div>
            <p data-aos="fade-down" class="pb-2p">Experiences from our past, whether lived or perceived, can stick with us as we move through life. If it becomes encoded as a traumatic event, our brains create a stress response so that if similar situations arise, we’re protected from the pain.</p>
            <p data-aos="fade-down" class="pb-2p">This severe response prevents our analytical selves from distinguishing when something is truly life-threatening (car accident) and something that’s not (an email from your boss). When this happens, our primitive emotions such as anger and fear start to run our lives. </p>
            <p data-aos="fade-down">Havening Techniques harness the action of our brain’s Delta waves through therapeutic touch. Delta waves are similar to being in a dream state, where you switch off your analytical mind and invite calm, imagination and creativity.  A.k.a accessing those good vibes. It helps us remove stress receptors by revisiting our formative memories and detaching ourselves emotionally from these events.</p>
        </div>
    </div>
</section>



<!-------Benefits Section---------->
<section class="relative max-w-screen-2xl mx-auto">
    <div class="px-5p py-10p sm:py-5p sm:grid sm:grid-cols-2 gap-y-5p">
        <!-- First column with title -->
        <div class="sm:hidden">
            <p class="main-title text-2xl pb-5p">The Benefits of Havening</p>
        </div>
        <div class="hidden sm:block">
            <p class="main-title text-6xl">The Benefits <br> of Havening</p>
        </div>
        
        <!-- Second column with accordion -->
        <div class="flex flex-col space-y-4">
            <div>
                <div class="accordion-border">
                    {% include accordion-rapid.html %}
                </div>
            </div>
            <div>
                <div class="accordion-border">
                    {% include accordion-root.html %}
                </div>
            </div>
            <div>
                <div class="accordion-border">
                    {% include accordion-brain.html %}
                </div>
            </div>
        </div>
    </div>
</section>



<!-----BG and Text-------->
<section class="max-w-screen-2xl mx-auto">
    <div class="sm:mt-5p 2xl:mt-0 lg:mt-2p relative section-border">
        <div class="bg-cover bg-no-repeat" 
            style="background-image: url('{{ page.image-quote }}'); height: 24rem; background-position: {{ page.image-quote-position }};">
            <div class="absolute inset-0 flex items-center justify-center p-5p">
                <div class="bg-greenleaf text-light p-6 mx-10p rounded-lg text-center opacity-80">
                    <p class="main-title text-2xl sm:text-4xl editable">Healing begins when we release the past and embrace the calm within.</p>
                </div>
            </div>
        </div>
    </div>
</section>



<!-------FAQ Section---------->
<section class="relative max-w-screen-2xl mx-auto">
    <div class="px-5p py-10p sm:py-5p">

        <p class="main-title text-2xl sm:text-6xl pb-5p 2xl:pb-2p">FAQs</p>

        <div class="flex flex-col space-y-4">
            <div>
                <div class="accordion-border">
                    {% include accordion-length.html %}
                </div>
            </div>
            <div>
                <div class="accordion-border">
                    {% include accordion-many.html %}
                </div>
            </div>
            <div>
                <div class="accordion-border">
                    {% include accordion-cost.html %}
                </div>
            </div>
            <div>
                <div class="accordion-border">
                    {% include accordion-online.html %}
                </div>
            </div>
            <div>
                <div class="accordion-border">
                    {% include accordion-therapies.html %}
                </div>
            </div>
            <div>
                <div class="accordion-border">
                    {% include accordion-other-therapies.html %}
                </div>
            </div>
            <div>
                <div class="accordion-border">
                    {% include accordion-cause.html %}
                </div>
            </div>
        </div>
        
    </div>
</section>