/* ----------- Import Tailwind -----*/
@tailwind base;
@tailwind components;
@tailwind utilities;


/* ----------- Default Styles to apply to the whole project  --------- */

@layer base { a { @apply no-underline; }  }

/* ----------- ADDITIONAL COMPONENTS  --------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}  

html { scroll-behavior: smooth; }


/* For regular laptops and smaller screens */
body {
    max-width: 100vw; /* Allow it to expand to the full width of the screen */
    background-color: #f2f0ed; 
    color:  #3f362b; 
    font-family: "Open Sans", sans-serif;
    overflow-x: hidden;
}

/* Ensure max-width and centering for larger screens */
@media screen and (min-width: 1600px) {
  .max-width {
    max-width: 1600px; /* Limit max-width to 1600px */
    margin: 0 auto; /* Center the container horizontally */
  }
}

/* fonts */

.main-title {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
}

.small-title {
  text-transform: uppercase;
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
  letter-spacing: 0.2rem;
}



.dm-serif-display-regular-italic {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: italic;
}

/* Fixed header styles */
header {
  width: 100% !important; /* Full width for the header */
  position: fixed;
  top: 0;
  z-index: 50;
}


.button {
  border-width: 2.5px;
  border-color: #ba8e63;
  border-radius: 0.25rem;
  background-color: #ba8e63;
  color: #f2f0ed; 
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
}

.button:hover {
  border-color: #ba8e63;
  background-color: inherit;
  color: inherit;
}


/* Aspect Ratio  */
.gallery-portrait-tall { padding-bottom: 175%; }
.gallery-portrait { padding-bottom: 125%; }
.gallery-square { padding-bottom: 100%; }
.gallery-landscape { padding-bottom: 66%; }
.gallery-landscape-wide { padding-bottom: 56%; }

/* Background Position */
.g-bg-pos-t { background-position: top; }
.g-bg-pos-b { background-position: bottom; }
.g-bg-pos-l { background-position: left; }
.g-bg-pos-r { background-position: right; }


/*Scroll to top button */ 

.back-to-top-button-parent {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.myBtn {
  display: none; 
  position: absolute; 
  bottom: 20px; 
  right: 0;
  z-index: 99; 
  border: none; 
  outline: none; 
  background-color:  pink; 
  color: white; 
  cursor: pointer; 
  width: 30px; 
  height: 30px; 
  border-radius: 50%; 
  font-size: 16px; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
}


.myBtn:hover {
  color:purple;
  background-color: green; 
}


.bg-greenleaf {
  background-color:#9da198;
}

.text-light {
  color: #f2f0ed;
}

.section-border {
  border-top-width: 4px;
  border-bottom-width: 4px;
  border-color: #84897d;
}


.btn-grad {
  border: none; /* Remove the border */
  border-radius: 0.25rem;
  background-image: linear-gradient(to right, #a07d5b, #d6bfa4); /* Darker gradient */
  background-size: 200% 200%;
  color: #fff; 
  padding: 0.5em 1em; /* Shorter button */
  text-align: center;
  text-transform: uppercase;
  transition: background-position 0.5s, color 0.5s, box-shadow 0.5s, transform 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: inline-block;
  margin: 10px auto;
  text-decoration: none; /* Ensure no underline for links */
  animation: gradientAnimation 8s linear infinite; /* Smooth and continuous gradient animation */
}


.btn-grad:hover {
  background-position: right center; /* Gradient move on hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Expand shadow */
  transform: translateY(-4px); /* Slightly lift the button */
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}

.btn-grad {
  animation: gradientAnimation 8s linear infinite; /* Smooth and continuous gradient animation */
}


.card {
  transition: transform 0.5s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}