<div class="accordion py-2p">
    <div class="dt">
        <a href="" class="text-left" aria-label=""> 
            <span class="font-semibold editable">Can I use Havening with other therapies?</span>
        </a>
    </div>
    <div class="dd">
        <div class="py-3p px-5p mx-5p">
            <p class="pb-2p editable">Havening can be used as a standalone therapy or in combination with psychotherapy, psychiatry and alternative therapies.</p>
            <p class="editable">If you are seeing a mental health professional we advise discussing Havening with them prior to starting our work together.</p>
        </div>
    </div>
</div>