<div class="accordion py-2p">
    <div class="dt">
        <a href="" class="text-left" aria-label=""> 
            <span class="font-semibold editable">How many sessions will I need?</span>
        </a>
    </div>
    <div class="dd">
        <div class="py-3p px-5p mx-5p">
            <p class="pb-2p editable">It depends on what you would like to release.</p>
            <p class="pb-2p editable">A specific phobias or distressing memory can take one to two sessions.</p>
            <p class="pb-2p editable">To get back from stress and burnout 3-5 sessions.</p>
            <p class="editable">For Imposter Syndrome, limiting beliefs, performance anxiety, complex PTSD or extensive childhood trauma - I recommend a custom package over 3-6 months. </p>
        </div>
    </div>
</div>
 