<div class="accordion py-2p">
    <div class="dt">
        <a href="" class="text-left" aria-label=""> 
            <span class="font-semibold editable">How long does each appointment take?</span>
        </a>
    </div>
    <div class="dd">
        <div class="py-3p px-5p mx-5p">
            <p class="pb-2p editable">Each appointment takes 75 minutes.</p>
            <p class="pb-2p editable">We recommend booking in for a Free 45 Minute Strategy Call with one of us to see how we can best assist you.</p>
            <p class="editable">After the call you’ll come out knowing:</p>
            <ul class="list-disc">
                <li class="ml-5p">What's going on for you</li>
                <li class="ml-5p">The obstacles in the way</li>
                <li class="ml-5p">Your dream outcome</li>
                <li class="ml-5p">What your next step is</li>
                <li class="ml-5p">If I'm the right fit or if there's someone else that would be better suited to meet your needs.</li>
            </ul>
        </div>
    </div>
</div>
 