<div class="accordion py-2p">
    <div class="dt">
        <a href="" class="text-left" aria-label=""> 
            <span class="font-semibold editable">What if I don't know the cause of my issue?</span>
        </a>
    </div>
    <div class="dd">
        <div class="py-3p px-5p mx-5p">
            <p class="pb-2p editable">You are not alone and this is really common.</p>
            <p class="pb-2p editable">It’s our job as your specialist to help uncover what’s causing the current issue you are facing. </p>
            <p class="pb-2p editable">We start from what is comfortable and what works for you, creating a safe space to explore the layers of your stress.  </p>
            <p class="editable">If you are new to personal development and self awareness, don’t worry we’ve got you and are excited to help your transformation.</p>
        </div>
    </div>
</div>