<div class="accordion py-2p">
    <div class="dt">
        <a href="" class="text-left" aria-label=""> 
            <span class="font-semibold editable">Rapid, permanent and precise change</span>
        </a>
    </div>
    <div class="dd">
        <p class="py-5p px-5p mx-5p editable">
            You’ll learn to identify an encoded traumatic event that shows up in your life as an anxiety or stress response. After even a single session, you’ll be able to look back at the memory as an observer without attachment or fear.
        </p>
    </div>
</div>
 