<div class="accordion py-2p">
    <div class="dt">
        <a href="" class="text-left" aria-label=""> 
            <span class="font-semibold editable">Can sessions be held online?</span>
        </a>
    </div>
    <div class="dd">
        <div class="py-3p px-5p mx-5p">
            <p class="editable"><strong>Yes! </strong>Sessions can be held online, anywhere in the world, in the comfort of your own home. All you need is yourself (and a wifi connection). Please have zoom downloaded and be familiar with using this prior to appointment.</p>
        </div>
    </div>
</div>