<div class="accordion py-2p">
    <div class="dt">
        <a href="" class="text-left" aria-label=""> 
            <span class="font-semibold editable">Learn to shift your brain state in real-time</span>
        </a>
    </div>
    <div class="dd">
        <p class="py-5p px-5p mx-5p editable">
            Since Havening changes your brain waves from being in a state of anxiety to one of calm, it can help you process and release difficult triggers within 5-10 minutes. Once released, you can start to rebuild and shift into your ideal state. For instance, from tired > energised, anxious > calm, not good enough > brilliant. No more staying stuck in the same thought pattern and feeling powerless. Release, transform and forge ahead.
        </p>
    </div>
</div>
 