<div class="accordion py-2p">
    <div class="dt">
        <a href="" class="text-left" aria-label=""> 
            <span class="font-semibold editable">I've tried other therapies, how is this different?</span>
        </a>
    </div>
    <div class="dd">
        <div class="py-3p px-5p mx-5p">
            <p class="pb-2p editable">Most therapies work at a conscious level. Havening Techniques® works directly where the threatening event is stored (the amydala). </p>
            <p class="pb-2p editable"><strong>Addresses the underlying cause</strong></p>
            <p class="pb-2p editable">By understanding how trauma is encoded in the brain, Havening creates the brain wave state required to delink and remove specific trauma and it’s reactivation through stress.</p>
            <p class="pb-2p editable"><strong>Rapid and effective with lasting results</strong></p>
            <p class="pb-2p editable">Clients can fully resolve a traumatic experience in 1 session. Being able to look back at this event as a neutral observer permanently. It is also effective at processing and neutralising distressing emotions.</p>
            <p class="pb-2p editable"><strong>Creates safety and client leaves feeling lighter</strong></p>
            <p class="editable">Havening enhances Delta waves in the brain which can be experienced as a sense of safety and calm. After processing heavy events or emotions with distraction clients can leave the past behind and exit session feeling lighter.</p>
        </div>
    </div>
</div>