<div class="accordion py-2p">
    <div class="dt">
        <a href="" class="text-left" aria-label=""> 
            <span class="font-semibold editable">What is the cost?</span>
        </a>
    </div>
    <div class="dd">
        <div class="py-3p px-5p mx-5p">
            <p class="pb-2p editable">1 Havening Consultation: $180 </p>
            <p class="pb-2p editable">3 Havening Consultations: $500 (Save $40) </p>
            <p class="editable">3 Month Package: $480 per month</p>
        </div>
    </div>
</div>
 





