<div class="accordion py-2p">
    <div class="dt">
        <a href="" class="text-left" aria-label=""> 
            <span class="font-semibold editable">Addressing the root problem at a subconscious level</span> 
        </a>
    </div>
    <div class="dd">
        <p class="py-5p px-5p mx-5p editable">
            Most coaching or counselling services act on the conscious brain, which is only in control about 10% of the time. This is the part of your brain that gets motivated to buy a gym membership or learn a language. But the part that’s responsible for 90% of our thoughts, feelings and actions (the subconscious brain) is what controls our behavioural patterns. By accessing your subconscious brain through Havening, you’ll be able to address the core issue that you'd like to release.
        </p>
    </div>
</div>