<footer class="max-w-screen-2xl mx-auto">
    <div class="pt-15p sm:pt-5p sm:px-5p grid md:grid-cols-2 items-end">

            <!-- column -->
            <div class="p-5p md:pr-10p">
                <h2 class="logo"> Logo </h2>
                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                <div class="mb-5p sm:mb-0 sm:mt-10p md:mt-5p">
                    <a href="#" class="button" aria-label="">Book now</a>
                </div>
            </div>
            <!-- column -->
            <div class="p-5p text-right">
                <nav class="inline">
                    <a href="#"> Havening </a>|
                    <a href="#"> About </a>|
                    <a href="#"> Contact </a>|
                    <a href="#"> Log In </a>
                </nav>
                <nav class="inline socials">
                    <a href="https://www.instagram.com/our_collective">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="https://www.facebook.com/ourcollectivevision">
                        <i class="fab fa-facebook-square"></i>
                    </a>
                    <a href="https://www.youtube.com/channel/UC1ko6NTd5j921VS4fVYJgUQ">
                        <i class="fab fa-youtube"></i>
                    </a>
                </nav>
            </div>

        <!-- Centered Text for Copyright and Links -->
        <div class="mt-4 text-center text-gray-300 pt-5p pb-5p">
            <p>&copy; All rights reserved.</p>
            <a href="https://refinedislandcreations.com/" class="pt-5p" target="_blank" rel="noopener noreferrer" aria-label="Link to Refined Island Creations website design and development">Designed and built by <span class="underline">Refined Island Creations</span>.</a>
        </div>
    </div>
</footer>

