<footer class="max-w-screen-2xl mx-auto">
  <div class="bg-greenleaf section-border text-light pt-10p sm:pt-5p sm:px-5p sm:grid sm:grid-cols-2 items-center text-center sm:text-left">
    <!-- Column 1 -->
    <div class="p-5 md:pr-10 flex flex-col justify-between h-full">
      <img src="/images/our-collective-logo-white.png" alt="Our Collective Logo">
      <p class="py-5p">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <div class="sm:mt-2p xl:mt-0">
        <a href="#" class="btn-grad" aria-label="Book a call">Book A Call</a>
      </div>
    </div>
    
    <!-- Column 2 -->
    <div class="p-5 flex flex-col items-center md:items-end justify-center h-full">
      <nav class="flex flex-col md:flex-row space-y-2 md:space-y-0 md:space-x-4 text-center md:text-left">
        <a href="#">Havening</a>
        <a href="#">About</a>
        <a href="#">Contact</a>
        <a href="#" class="underline">Log In</a>
      </nav>
      <nav class="mt-20p sm:mt-10p md:mt-5p">
        <a href="https://www.instagram.com/our_collective" class="text-gray-300 hover:text-white mx-4">
          <i class="fab fa-instagram text-lg"></i>
        </a>
        <a href="https://www.facebook.com/ourcollectivevision" class="text-gray-300 hover:text-white mx-4">
          <i class="fab fa-facebook-square text-lg"></i>
        </a>
        <a href="https://www.youtube.com/channel/UC1ko6NTd5j921VS4fVYJgUQ" class="text-gray-300 hover:text-white mx-4">
          <i class="fab fa-youtube text-lg"></i>
        </a>
      </nav>
    </div>
    
    <!-- Centered Text for Copyright and Links -->
    <div class="text-center text-gray-300 pt-5 pb-5 mt-4 sm:col-span-full">
        <p>&copy; {{ "now" | date: "%Y" }} All rights reserved.</p>
        <a href="https://refinedislandcreations.com/" class="pt-2" target="_blank" rel="noopener noreferrer" aria-label="Link to Refined Island Creations website design and development">
            Designed and built by <span class="underline font-semibold">Refined Island Creations</span>.
        </a>
    </div>
</div>
  </footer>
  

